@{
    ViewData["Title"] = "Invoicing";
    Layout = "~/Views/Shared/_AdminDashboardLayout.cshtml";
}

@section AddStyles
    {
    <style>
        tr {
            vertical-align: middle;
        }

            tr p {
                margin: 0;
            }

    </style>
}

<div class="main">
    <div class="container-xl p-4">
        <div class="heading d-flex justify-content-between align-items-center mb-3">
            <h1 class="h2 mb-3">Timesheets</h1>
            @*<button class="btn btn-outline-info d-flex align-items-center" onclick="window.history.back()">
            <span class="material-symbols-outlined text-info fs-6">
            arrow_back_ios
            </span>
            <span>Back</span>
            </button>*@
        </div>
        <div class="bg-body rounded-3 custom-shadow mb-3" style="overflow:hidden">
            <div class="d-flex justify-content-between align-items-start p-3">
                <div class="d-flex">
                    @if (ViewBag.PhysicianList != null)
                    {
                        <div class="form-floating me-3">
                            <select class="form-select" id="physician-list" asp-items="@ViewBag.PhysicianList">
                            </select>
                            <label for="physician-list">Search by Physician</label>
                        </div>
                    }

                    <div class="form-floating ">
                        <select class="form-select " id="timesheet-list">
                            @for (int i = 1; i <= 12; i++)
                            {
                                // Calculate start and end dates for the first fortnight (1st to 14th)
                                var startDate1 = new DateTime(DateTime.Now.Year, i, 1);
                                var endDate1 = new DateTime(startDate1.Year, startDate1.Month, Math.Min(14, DateTime.DaysInMonth(startDate1.Year, startDate1.Month)));

                                // Calculate start and end dates for the second fortnight (15th to last day)
                                var startDate2 = startDate1.AddDays(14);
                                var endDate2 = new DateTime(startDate2.Year, startDate2.Month, DateTime.DaysInMonth(startDate2.Year, startDate2.Month));

                                var isSelected = DateOnly.FromDateTime(DateTime.Now) >= DateOnly.FromDateTime(startDate1) && DateOnly.FromDateTime(DateTime.Now) <= DateOnly.FromDateTime(endDate1);
                                <option value="@startDate1.ToString("yyyy-MM-dd")-@(endDate1.ToString("yyyy-MM-dd"))" selected="@isSelected">
                                    <span>@startDate1.ToString("yyyy/MM/dd")</span> - <span>@endDate1.ToString("yyyy/MM/dd")</span>
                                </option>

                                @if (endDate2.Month == i)
                                {
                                    isSelected = DateOnly.FromDateTime(DateTime.Now) >= DateOnly.FromDateTime(startDate2) && DateOnly.FromDateTime(DateTime.Now) <= DateOnly.FromDateTime(endDate2);
                                    <option value="@startDate2.ToString("yyyy-MM-dd")-@(endDate2.ToString("yyyy-MM-dd"))" selected="@isSelected">
                                        <span>@startDate2.ToString("yyyy/MM/dd")</span> - <span>@endDate2.ToString("yyyy/MM/dd")</span>
                                    </option>
                                }
                            }
                        </select>
                        <label for="timesheet-list">Search by Timesheetperiod</label>
                    </div>
                </div>

                <button class="btn btn-outline-info" id="finalize-btn" style="display: hidden;">
                    Finalize Timesheet
                </button>
            </div>

            <div id="partial-container">
            </div>
        </div>

        <div class="bg-body rounded-3 custom-shadow" style="overflow: hidden; display: hidden;" id="receipts-container">
            <div class="p-3">
                <h4>Timesheet Reimbursement</h4>

            </div>

            <div id="receipts-partial-container">
            </div>
        </div>
    </div>
</div>

@section AddScript{
    <partial name="_ToastMessageScriptsPartial" />

    <script>

    </script>

    <script>
        $("document").ready(function () {
            var a = $("#timesheet-list").val();
            var b = $("#physician-list").val();

            console.log(a);
            console.log(b);

            GetTimesheet();
            

        });

        $("#timesheet-list").change(function () {
            console.log($("#timesheet-list").val());
            GetTimesheet();
            

        });
        
        $("#physician-list").change(function () {
            console.log($("#physician-list").val());
            GetTimesheet();
            

        });

        function GetTimesheet() {
            var physicianId = $('#physician-list').val();
            var physicianListDefined = typeof physicianId !== 'undefined';

            $.ajax({
                url: '/Invoicing/GetTimesheet',
                data: {
                    selectedDatePeriod: $("#timesheet-list").val(),
                    physicianId: physicianListDefined ? physicianId : null
                },
                type: 'GET',
                success: function (data) {
                    $('#partial-container').html(data);

                    if ($('#is-finalized').prop('checked') || $('#AspNetUserRole').val() == "admin") {
                        $('#finalize-btn').hide();
                    }
                    else {
                        $('#finalize-btn').show();
                    }

                    console.log($('#AspNetUserRole').val());
                    console.log($('#is-approved').prop('checked'));
                    if ($('#AspNetUserRole').val() == "admin" && ($('#is-approved').prop('checked') != true)){
                        $('#receipts-container').hide();
                    }
                    else{
                        $('#receipts-container').show();
                        GetReceipts();
                    }

                    $('#approve-btn').click(function(){
                        $('#finalize-btn').trigger('click');
                    })
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.error("Error fetching data:", textStatus);
                    if (errorThrown) {
                        console.error("Specific error:", errorThrown);
                    }
                    console.error("HTTP status code:", jqXHR.status);

                    if (jqXHR.responseJSON.status == 414) {
                        window.location.href = '/Login';
                    }
                }
            });
        }

        function GetReceipts() {
            var physicianId = $('#physician-list').val();
            var physicianListDefined = typeof physicianId !== 'undefined';

            $.ajax({
                url: '/Invoicing/GetReceipts',
                data: {
                    selectedDatePeriod: $("#timesheet-list").val(),
                    physicianId: physicianListDefined ? physicianId : null
                },
                type: 'GET',
                success: function (data) {
                    $('#receipts-partial-container').html(data);
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.error("Error fetching data:", textStatus);
                    if (errorThrown) {
                        console.error("Specific error:", errorThrown);
                    }
                    console.error("HTTP status code:", jqXHR.status);

                    if (jqXHR.responseJSON.status == 414) {
                        window.location.href = '/Login';
                    }
                }
            });
        }

        $('#finalize-btn').click(function () {
            var selectedDatePeriod = $("#timesheet-list").val();
            var physicianId = $("#physician-list").val();
            var physicianListDefined = typeof physicianId !== 'undefined';
            if(!physicianListDefined){
                physicianId = null;
            }
            console.log(physicianId);

            window.location.href = `/Invoicing/AddOrEditTimesheet?selectedDatePeriod=${selectedDatePeriod}&physicianId=${physicianId}`;
        });
    </script>
}


