@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminDashboardLayout.cshtml";
}

@section AddStyles{

    <link href="@Url.Content("~/css/admindashboard.css")" rel="stylesheet" type="text/css" />
    
}

@model HalloDocServices.ViewModels.AdminViewModels.AdminDashboardViewModel

<div class="main">

    @*<partial name="_NavbarLinks">*@

    <div class="container-fluid py-4 px-2 px-sm-4">

        <div class="row request-status-tabs mb-3">
            <div class="col-12 col-lg-6">
                <div class="row">
                    <div class="col-4 pb-3">
                        <div class="new-btn status-btn px-2 py-4 fw-bold d-flex flex-column align-items-center align-items-md-start shadow">
                            <div class="d-flex">
                                <i class="material-symbols-outlined d-none d-md-inline me-2">
                                    new_releases
                                </i>
                                <span>NEW</span>
                            </div>
                            <div class="fs-4">
                                @Model.NewRequestCount
                            </div>
                        </div>
                        <div class="triangle mx-auto d-none d-lg-block"></div>
                    </div>
                    <div class="col-4 pb-3">
                        <div class="pending-btn status-btn px-2 py-4 fw-bold d-flex flex-column align-items-center align-items-md-start shadow">
                            <div class="d-flex">
                                <i class="material-symbols-outlined d-none d-md-inline me-2">
                                    pending_actions
                                </i>
                                <span>PENDING</span>
                            </div>
                            <div class="fs-4">
                                @Model.PendingRequestCount
                            </div>
                        </div>
                        <div class="triangle mx-auto d-none d-lg-block"></div>
                    </div>
                    <div class="col-4 pb-3">
                        <div class="active-btn status-btn px-2 py-4 fw-bold d-flex flex-column align-items-center align-items-md-start shadow">
                            <div class="d-flex">
                                <i class="material-symbols-outlined d-none d-md-inline me-2">
                                    task_alt
                                </i>
                                <span>ACTIVE</span>
                            </div>
                            <div class="fs-4">
                                @Model.ActiveRequestCount
                            </div>
                        </div>
                        <div class="triangle mx-auto d-none d-lg-block"></div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <div class="row">
                    <div class="col-4 pb-3">
                        <div class="conclude-btn status-btn px-2 py-4 fw-bold d-flex flex-column align-items-center align-items-md-start shadow">
                            <div class="d-flex">
                                <i class="material-symbols-outlined d-none d-md-inline me-2">
                                    av_timer
                                </i>
                                <span>CONCLUDE</span>
                            </div>
                            <div class="fs-4">
                                @Model.ConcludeRequestCount
                            </div>
                        </div>
                        <div class="triangle mx-auto d-none d-lg-block"></div>
                    </div>
                    <div class="col-4 pb-3">
                        <div class="to-close-btn status-btn px-2 py-4 fw-bold d-flex flex-column align-items-center align-items-md-start shadow">
                            <div class="d-flex">
                                <i class="material-symbols-outlined d-none d-md-inline me-2">
                                    person_remove
                                </i>
                                <span>TO CLOSE</span>
                            </div>
                            <div class="fs-4">
                                @Model.ToCloseRequestCount
                            </div>
                        </div>
                        <div class="triangle mx-auto d-none d-lg-block"></div>
                    </div>
                    <div class="col-4 pb-3">
                        <div class="unpaid-btn status-btn px-2 py-4 fw-bold d-flex flex-column align-items-center align-items-md-start shadow">
                            <div class="d-flex">
                                <i class="material-symbols-outlined d-none d-md-inline me-2">
                                    monetization_on
                                </i>
                                <span>UNPAID</span>
                            </div>
                            <div class="fs-4">
                                @Model.UnpaidRequestCount
                            </div>
                        </div>
                        <div class="triangle mx-auto d-none d-lg-block"></div>
                    </div>
                </div>
            </div>
        </div>


        <div class="utility-bar d-flex justify-content-between mb-3">
            <p class="h4 d-flex flex-column flex-md-row">
                <span>Patients</span> 
                <span id="request-status-name"></span>
            </p>
            <div class="utility-buttons">
                <button class="btn btn-info text-white" data-bs-toggle="modal" data-bs-target="#mailModal">
                    <i class="bi bi-send"></i>
                    <span class="d-none d-lg-inline">Send Link</span>
                </button>

                    <a asp-action="CreateRequest" class="btn btn-info text-white">
                    <i class="bi bi-file-earmark-text"></i>
                    <span class="d-none d-lg-inline">Create Requests</span>
                </a>

                    <button class="btn btn-info text-white" id="export-btn">
                    <i class="bi bi-upload"></i>
                    <span class="d-none d-lg-inline">Export</span>
                </button>

                    <button class="btn btn-info text-white" id="export-all">
                    <i class="bi bi-file-earmark-arrow-up"></i>
                    <span class="d-none d-lg-inline">Export All</span>
                </button>

                    <button class="btn btn-info text-white">
                    <i class="bi bi-person-raised-hand"></i>
                    <span class="d-none d-lg-inline">Request Support</span>
                </button>
            </div>
        </div>

        <div class="modal fade" id="mailModal" tabindex="-1">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header bg-info text-white">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Send Link</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form id="mailform" asp-action="SendLink">
                            <div class="form-floating mb-3">
                                <input type="email" asp-for="Email" class="form-control" id="recipient-email" required>
                                <label for="recipient-email" class="col-form-label">Recipient:</label>
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                            <div class="d-flex justify-content-end">
                                <input type="submit" value="Send" class="btn btn-info text-white">
                                <button type="button" class="btn btn-outline-info ms-2" data-bs-dismiss="modal">Close</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="request-table rounded-3">
            <div class="search-filter-bar d-flex flex-column flex-lg-row justify-content-lg-between bg-white p-3">
                <div class="d-flex flex-column flex-md-row">
                    <input type="text" class="form-control searchbar me-2 mb-2" placeholder="&#128269; Search Patient" />
                    <select class="form-select selectlist me-2 mb-2">
                        <option selected disabled>Search by Region</option>
                        <option value="0">All Regions</option>
                        <option value="1">Gujarat</option>
                        <option value="2">Maharashtra</option>
                        <option value="3">Madhya Pradesh</option>
                        <option value="4">Uttar Pradesh</option>
                        <option value="5">Rajasthan</option>
                    </select>
                </div>

                <div class="request-type-buttons d-flex justify-content-end">
                    <button class="type-btn all-btn btn border px-3">All</button>
                    <button class="type-btn patient-btn btn d-flex flex-column align-items-center flex-sm-row">
                        <i class="bi bi-circle-fill me-1" style="color: #00b33c"></i>
                        <span>Patient</span>
                    </button>
                    <button class="type-btn family-btn btn d-flex flex-column align-items-center flex-sm-row">
                        <i class="bi bi-circle-fill me-1" style="color: #ff9933"></i>
                        <span>Family</span>
                    </button>
                    <button class="type-btn business-btn btn d-flex flex-column align-items-center flex-sm-row">
                        <i class="bi bi-circle-fill me-1" style="color: #ffb3cc"></i>
                        <span>Business</span>
                    </button>
                    <button class="type-btn concierge-btn btn d-flex flex-column align-items-center flex-sm-row">
                        <i class="bi bi-circle-fill me-1" style="color: #66a3ff"></i>
                        <span>Concierge</span>
                    </button>
                </div>
            </div>
            <div class="requests" id="requests">

            </div>

                <div id="modal-container">
                </div>
        </div>
    </div>
</div>

@section AddScript
{
    <partial name="_ToastMessageScriptsPartial" />
        <script src="~/js/admin/admindashboard.js"></script>
}