
@{
    ViewData["Title"] = "View Notes";
    Layout = "~/Views/Shared/_AdminDashboardLayout.cshtml";
}

@model HalloDocServices.ViewModels.AdminViewModels.ViewNotesViewModel

<div class="main">

    @*<partial name="_NavbarLinks"></partial>*@
    <div class="container mt-4">
        <div class="d-flex justify-content-between mb-3">
            <h2>Notes</h2>
            <button class="btn btn-outline-info d-flex align-items-center" onclick="window.history.back()">
                <span class="material-symbols-outlined text-info fs-6">
                    arrow_back_ios
                </span>
                <span>Back</span>
            </button>
        </div>
        <div class="row mb-1">
            <div class="col-12 col-md-6 p-2">
                <div class="d-flex bg-body shadow-sm p-3 rounded-3">
                    <i class="bi bi-sign-turn-slight-right h3"></i>
                    <div class="ms-2">
                        <p class="fs-4 fw-bold">Transfer Notes</p>
                        @if(Model.TransferNotes != null)
                        {
                            @if(Model.TransferNotes.Count() != 0)
                            {
                                @foreach (var note in Model.TransferNotes)
                                {
                                    <p class="m-1">@note</p>
                                }
                            }
                            else
                            {
                                <p class="m-0">-</p>
                            }
                        }
                        else
                        {
                            <p class="m-0">-</p>
                        }
                        @* <p class="m-0">Admin transferred to DR. AGOLA on 27/09/2023 at 9:34:08AM: test assign</p>
                        <p class="m-0">Admin transferred to DR. AGOLA on 27/09/2023 at 9:34:08AM: test assign</p> *@
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 p-2">
                <div class="d-flex bg-body shadow-sm p-3 rounded-3">
                    <i class="bi bi-sign-turn-slight-right h3"></i>
                    <div class="ms-2">
                        <p class="fs-4 fw-bold">Physician Notes</p>
                        @if(Model.PhysicianNotes != null)
                        {
                            <p class="m-0">@Model.PhysicianNotes</p>
                        }
                        else
                        {
                            <p class="m-0">-</p>
                        }
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 p-2">
                <div class="d-flex bg-body shadow-sm p-3 rounded-3">
                    <i class="bi bi-sign-turn-slight-right h3"></i>
                    <div class="ms-2">
                        <p class="fs-4 fw-bold">Admin Notes</p>
                        @if(Model.AdminNotes != null)
                        {
                            <p class="m-0">@Model.AdminNotes</p>
                        }
                        else
                        {
                            <p class="m-0">-</p>
                        }
                    </div>
                </div>
            </div>
            @if(Model.AdminCancellationNotes != null)
            {
                <div class="col-12 col-md-6 p-2">
                    <div class="d-flex bg-body shadow-sm p-3 rounded-3">
                        <i class="bi bi-sign-turn-slight-right h3"></i>
                        <div class="ms-2">
                            <p class="fs-4 fw-bold">Admin Cancellation Notes</p>
                            <p class="m-0">@Model.AdminCancellationNotes</p>
                        </div>
                    </div>
                </div>
            }
            else if(Model.PhysicianCancellationNotes != null)
            {
                <div class="col-12 col-md-6 p-2">
                    <div class="d-flex bg-body shadow-sm p-3 rounded-3">
                        <i class="bi bi-sign-turn-slight-right h3"></i>
                        <div class="ms-2">
                            <p class="fs-4 fw-bold">Physician Cancellation Notes</p>
                            <p class="m-0">@Model.PhysicianCancellationNotes</p>
                        </div>
                    </div>
                </div>
            }
            else if(Model.PatientCancellationNotes != null)
            {
                <div class="col-12 col-md-6 p-2">
                    <div class="d-flex bg-body shadow-sm p-3 rounded-3">
                        <i class="bi bi-sign-turn-slight-right h3"></i>
                        <div class="ms-2">
                            <p class="fs-4 fw-bold">Patient Cancellation Notes</p>
                            <p class="m-0">@Model.PatientCancellationNotes</p>
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="row">
            <div class="col-12 p-2">
                <form asp-action="ViewNotes" class="bg-body shadow-sm p-3 rounded-3">
                    <input type="number" asp-for="RequestId" hidden/>
                    @if(Model.IsPhysician == true)
                    {
                        <div class="form-floating mb-3">
                            <textarea asp-for="PhysicianNotesInput" class="form-control border-info" placeholder="physician notes" id="PhysicianNotesInput" style="height: 150px"></textarea>
                            <label asp-for="PhysicianNotesInput" class="text-info">Physician Notes</label>
                            <span asp-validation-for="PhysicianNotesInput" class="text-danger"></span>
                        </div>
                    }
                    else
                    {
                        <div class="form-floating mb-3">
                            <textarea asp-for="AdminNotesInput" class="form-control border-info" placeholder="admin notes" id="AdminNotesInput" style="height: 150px"></textarea>
                            <label asp-for="AdminNotesInput" class="text-info">Admin Notes</label>
                            <span asp-validation-for="AdminNotesInput" class="text-danger"></span>
                        </div>
                    }
                    <div class="d-flex justify-content-end">
                        <input type="submit" value="Save Changes" class="btn btn-info text-white"/>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>

@section AddScript{

    <partial name="_ToastMessageScriptsPartial" />

}