
@{
    ViewData["Title"] = "View Notes";
    Layout = "~/Views/Shared/_AdminDashboardLayout.cshtml";
}

@model HalloDocServices.ViewModels.AdminViewModels.ViewNotesViewModel

<div class="main">

    <partial name="_NavbarLinks"></partial>
    <div class="container mt-4">
        <div class="d-flex justify-content-between mb-3">
            <h2>Notes</h2>
            <a class="btn back-btn">
                <img src="/images/backIcon.svg" alt="">
                Back
            </a>
        </div>
        <div class="row mb-1">
            <div class="col-12 col-md-6 p-2">
                <div class="d-flex bg-white shadow-sm p-3 rounded-3">
                    <i class="bi bi-sign-turn-slight-right h3"></i>
                    <div class="ms-2">
                        <p class="fs-4 fw-bold">Transfer Notes</p>
                        @if(Model.TransferNotes != null)
                        {
                            @foreach (var note in Model.TransferNotes)
                            {
                                <p class="m-0">@note</p>
                            }
                        }
                        @* <p class="m-0">Admin transferred to DR. AGOLA on 27/09/2023 at 9:34:08AM: test assign</p>
                        <p class="m-0">Admin transferred to DR. AGOLA on 27/09/2023 at 9:34:08AM: test assign</p> *@
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 p-2">
                <div class="d-flex bg-white shadow-sm p-3 rounded-3">
                    <i class="bi bi-sign-turn-slight-right h3"></i>
                    <div class="ms-2">
                        <p class="fs-4 fw-bold">Physician Notes</p>
                        @if(Model.PhysicianNotes != null)
                        {
                            <p class="m-0">@Model.PhysicianNotes</p>
                        }
                        else
                        {
                            <p class="m-0">-</p>
                        }
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 p-2">
                <div class="d-flex bg-white shadow-sm p-3 rounded-3">
                    <i class="bi bi-sign-turn-slight-right h3"></i>
                    <div class="ms-2">
                        <p class="fs-4 fw-bold">Admin Notes</p>
                        @if(Model.AdminNotes != null)
                        {
                            <p class="m-0">@Model.AdminNotes</p>
                        }
                        else
                        {
                            <p class="m-0">-</p>
                        }
                    </div>
                </div>
            </div>
            @if(Model.AdminCancellationNotes != null)
            {
                <div class="col-12 col-md-6 p-2">
                    <div class="d-flex bg-white shadow-sm p-3 rounded-3">
                        <i class="bi bi-sign-turn-slight-right h3"></i>
                        <div class="ms-2">
                            <p class="fs-4 fw-bold">Admin Cancellation Notes</p>
                            <p class="m-0">@Model.AdminCancellationNotes</p>
                        </div>
                    </div>
                </div>
            }
            else if(Model.PhysicianCancellationNotes != null)
            {
                <div class="col-12 col-md-6 p-2">
                    <div class="d-flex bg-white shadow-sm p-3 rounded-3">
                        <i class="bi bi-sign-turn-slight-right h3"></i>
                        <div class="ms-2">
                            <p class="fs-4 fw-bold">Physician Cancellation Notes</p>
                            <p class="m-0">@Model.PhysicianCancellationNotes</p>
                        </div>
                    </div>
                </div>
            }
            else if(Model.PatientCancellationNotes != null)
            {
                <div class="col-12 col-md-6 p-2">
                    <div class="d-flex bg-white shadow-sm p-3 rounded-3">
                        <i class="bi bi-sign-turn-slight-right h3"></i>
                        <div class="ms-2">
                            <p class="fs-4 fw-bold">Patient Cancellation Notes</p>
                            <p class="m-0">@Model.PatientCancellationNotes</p>
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="row">
            <div class="col-12 p-2">
                <form asp-action="ViewNotes"  class="bg-white shadow-sm p-3 rounded-3">
                    <input type="number" asp-for="RequestId" hidden/>
                    <div class="form-floating mb-3">
                        <textarea asp-for="AdminNotesInput" class="form-control border-info" placeholder="admin notes" id="AdminNotesInput" style="height: 150px"></textarea>
                        <label asp-for="AdminNotesInput" class="text-info">Admin Notes</label>
                    </div>
                    <div class="d-flex justify-content-end">
                        <input type="submit" value="Save Changes" class="btn btn-info text-white"/>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>

