@using HalloDocServices.ViewModels.AdminViewModels;

@model List<HalloDocServices.ViewModels.AdminViewModels.LogRowViewModel>

@{
    var Pager = new PagerViewModel();
    int pageNumber = 0;

    if (ViewBag.PagerData != null)
    {
        Pager = ViewBag.PagerData;
        pageNumber = Pager.CurrentPage;
    }
}

<div class="records-table table-responsive d-none d-md-block">
    <table class="table mb-0">
        <thead>
            <tr class="providerslistheader bg-body-secondary">
                <th scope="col" class="p-3">Recipient</th>
                <th scope="col" class="p-3">Action</th>
                <th scope="col" class="py-3">Role Name</th>
                @if (Model.FirstOrDefault()?.IsEmailLog ?? false)
                {
                    <th scope="col" class="py-3">Email Id</th>
                }
                else if (Model.FirstOrDefault()?.IsSMSLog ?? false)
                {
                    <th scope="col" class="py-3">Phone Number</th>
                }
                
                <th scope="col" class="py-3">Created Date</th>
                <th scope="col" class="py-3">Sent Date</th>
                <th scope="col" class="py-3">Sent</th>
                <th scope="col" class="py-3">Sent Tries</th>
                <th scope="col" class="py-3">Confirmation Number</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr class="record-row">
                    <td class="p-3">
                        @item.RecipientName
                    </td>
                    <td class="py-3">
                        @item.Action
                    </td><td class="py-3">
                        @item.RoleName
                    </td>
                    @if (item.IsEmailLog)
                    {
                        <td class="py-3">
                            @item.Email
                        </td>
                    }
                    else if(item.IsSMSLog)
                    {
                        <td class="py-3">
                            @item.PhoneNumber
                        </td>
                    }
                    <td class="py-3">
                        @item.CreatedDate
                    </td>
                    <td class="py-3">
                        @item.SentDate
                    </td>
                    <td class="py-3">
                        @item.IsSent
                    </td>
                    <td class="py-3">
                        @item.SentTries
                    </td>
                    @if(item.ConfirmationNumber != null)
                    {
                        <td class="py-3">
                            @item.ConfirmationNumber
                        </td>
                    }
                    else
                    {
                        <td class="py-3">
                            -
                        </td>
                    }

                </tr>
            }

        </tbody>
    </table>
</div>
<div class="records-mobile d-md-none ">
    <div class="accordion accordion-flush bg-info" id="accordionFlushExample">
        @foreach (var item in Model)
        {
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed d-flex flex-column align-items-start" type="button"
                            data-bs-toggle="collapse" data-bs-target="#log-@(item.IsEmailLog ? item.EmailLogId : item.SMSLogId)">
                        <span class="h6 mb-3">@item.RecipientName</span>
                        <div class="mb-2">
                            <span>Action: </span>
                            <span>@item.Action</span>
                        </div>
                        <div class="mb-2">
                            @if (item.IsEmailLog)
                            {
                                <span>Email: </span>
                                <span>@item.Email</span>
                            }
                            else
                            {
                                <span>Phone Number: </span>
                                <span>@item.PhoneNumber</span>
                            }
                        </div>
                    </button>
                </h2>
                <div id="log-@(item.IsEmailLog ? item.EmailLogId : item.SMSLogId)" class="accordion-collapse collapse">
                    <div class="accordion-body">

                        <div class="mb-2 mb-sm-3 d-flex align-items-center">
                            <span class="material-symbols-outlined border-circle text-info me-1">
                                person
                            </span>
                            <span class="me-2">Role Name: </span>
                            <span class="h6">@item.RoleName</span>
                        </div>

                        <div class="mb-2 mb-sm-3 d-flex align-items-center">
                            <span class="material-symbols-outlined border-circle text-info me-1">
                                calendar_month
                            </span>
                            <span class="me-2">Created Date: </span>
                            <span class="h6">@item.CreatedDate</span>
                        </div>
                        
                        <div class="mb-2 mb-sm-3 d-flex align-items-center">
                            <span class="material-symbols-outlined border-circle text-info me-1">
                                calendar_month
                            </span>
                            <span class="me-2">Sent Date: </span>
                            <span class="h6">@item.SentDate</span>
                        </div>

                        <div class="mb-2 mb-sm-3 d-flex align-items-center">
                            <span class="material-symbols-outlined border-circle text-info me-1">
                                check
                            </span>
                            <span class="me-2">Sent: </span>
                            <span class="h6">@item.IsSent</span>
                        </div>
                        
                        <div class="mb-2 mb-sm-3 d-flex align-items-center">
                            <span class="material-symbols-outlined border-circle text-info me-1">
                                mail
                            </span>
                            <span class="me-2">Sent Tries: </span>
                            <span class="h6">@item.SentTries</span>
                        </div>
                        
                        <div class="mb-2 mb-sm-3 d-flex align-items-center">
                            <span class="material-symbols-outlined border-circle text-info me-1">
                                check
                            </span>
                            <span class="me-2">Confirmation Number: </span>
                            <span class="h6">@item.ConfirmationNumber</span>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<div>
    @if (Pager.TotalPages > 0)
    {
        <ul class="pagination py-3 justify-content-center flex-wrap">

            @if (Pager.CurrentPage > 1)
            {
                <li class="page-item">
                    <a class="page-link page-number page-first" data-page-number="1">First</a>
                </li>
                <li class="page-item">
                    <a class="page-link page-number page-previous" data-page-number="@(Pager.CurrentPage - 1)">Prev</a>
                </li>
            }

            @for (var pg = Pager.StartPage; pg <= Pager.EndPage; pg++)
            {
                <li class="page-item @(pg == Pager.CurrentPage ? "active" : "")">
                    <a class="page-link page-number" data-page-number="@pg">@pg</a>
                </li>
            }

            @if (Pager.CurrentPage < Pager.TotalPages)
            {
                <li class="page-item">
                    <a class="page-link page-number page-next" data-page-number="@(Pager.CurrentPage + 1)">Next</a>
                </li>
                <li class="page-item">
                    <a class="page-link page-number page-last" data-page-number="@Pager.TotalPages">Last</a>
                </li>
            }
        </ul>
    }
    else
    {
        <div class="d-flex justify-content-center fw-bold p-3">
            No Requests Found
        </div>
    }
</div>