@model HalloDocServices.ViewModels.AdminViewModels.TimesheetViewModel

<div id="receipts">
    @if (Model.TimesheetReceipts.Any(x => x.ReceiptId != 0))
    {

        <table class="table mb-0">
            <thead>
                <tr class="bg-body-secondary">
                    <th scope="col" class="p-3" style="width: 10rem">Date</th>
                    <th scope="col" class="py-3">Item</th>
                    <th scope="col" class="py-3">Amount</th>
                    <th scope="col" class="py-3" style="width: 18rem">Bill</th>
                    <th scope="col" class="py-3" style="width: 10rem">Actions</th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < Model.TimesheetReceipts.Count(); i++)
                {
                    @if(Model.TimesheetReceipts[i].ReceiptId == 0)
                    {
                        continue;
                    }

                    <tr data-row-index="@i">
                        <td class="p-3">
                            @Model.TimesheetReceipts[i].ReceiptDate
                        </td>

                        <td class="py-3" style="overflow:hidden; white-space: nowrap; text-overflow: ellipsis; max-width: 18rem;">
                            @Model.TimesheetReceipts[i].ItemName
                        </td>

                        <td class="py-3" style="overflow:hidden; white-space: nowrap; text-overflow: ellipsis; max-width: 18rem;">
                            @Model.TimesheetReceipts[i].Amount
                        </td>

                        <td class="py-3" style="overflow:hidden; white-space: nowrap; text-overflow: ellipsis; max-width: 18rem;">
                            @Model.TimesheetReceipts[i].FileName
                        </td>

                        <td class="py-3">
                            <button class="btn btn-outline-info view-btn">View</button>
                        </td>

                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <div class="mx-4 fw-bold text-center pb-3">No Record(s) Found</div>
    }
</div>