
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

@model List<HalloDocServices.ViewModels.AdminViewModels.RequestRowViewModel>

@{
    var status = Model.FirstOrDefault()?.DashboardRequestStatus;
    if(status == null)
    {
        status = 1;
    }
}

<div class="requests-desktop table-responsive-xxl d-none d-md-block">
    <table class="table">
        <thead>
            <tr>
                <th scope="col" style="min-width: 12rem">Name</th>
                @if(status != 6)
                {
                    <th scope="col">Date Of Birth</th>
                }
                @if (status == 1 || status == 2 || status == 3)
                {
                    <th scope="col">Requestor</th>
                }
                @if (status == 5)
                {
                    <th scope="col">Region</th>
                }
                @if(status != 1)
                {
                    <th scope="col">Physician Name</th>
                }
                @if (status != 1)
                {
                    <th scope="col">Date Of Service</th>
                }
                @if(status == 1)
                {
                    <th scope="col">Requested Date</th>
                }
                @if(status != 5)
                {
                    <th scope="col" style="min-width: 12rem">Phone</th>
                }
                <th scope="col" style="min-width: 7rem">Address</th>
                @if(status != 4 && status != 6)
                {
                    <th scope="col">Notes</th>
                }
                @*@if(status == 1)
                {
                    <th scope="col" style="min-width: 7rem">Chat With</th>
                }
                else
                {
                    <th scope="col" style="min-width: 15rem">Chat With</th>
                }*@
                <th scope="col" style="min-width: 7rem">Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var request in Model)
            {
                <tr class="@(request.RequestType == 1?"bg-business":"") @(request.RequestType == 2?"bg-patient":"") @(request.RequestType == 3?"bg-family":"") @(request.RequestType == 4?"bg-concierge":"") text-white fw-bold">
                    <td>
                        <div class="d-flex justify-content-between align-items-center">
                            <span>@request.PatientFullName</span>
                            <button class="btn p-1 text-white">
                                <img src="~/images/mailboxIcon.svg" />
                            </button>
                        </div>
                    </td>
                    @if (status != 6)
                    {
                        <td>@request.DateOfBirth</td>
                    }
                    @if (status == 1 || status == 2 || status == 3)
                    {
                        <td>@request.RequestorName</td>
                    }
                    @if (status == 5)
                    {
                        <td>
                            @(request.Region == 1 ? "Gujarat" :"")
                            @(request.Region == 2 ? "Maharashtra" : "")
                            @(request.Region == 3 ? "Madhya Pradesh" : "")
                            @(request.Region == 4 ? "Uttar Pradesh" : "")
                            @(request.Region == 5 ? "Rajasthan" : "")
                        </td>
                    }
                    @if (status != 1)
                    {
                        <td>@request.PhysicianName</td>
                    }
                    @if (status != 1)
                    {
                        <td>
                            <p>Nov 20, 2023</p>
                            <p>04:38AM</p>
                        </td>
                    }
                    @if (status == 1)
                    {
                        <td>@request.RequestedDate</td>
                    }
                    @if (status != 5)
                    {
                        <td>
                            
                            
                            @if (request.PatientPhoneNumber != null)
                            {
                                <button class="btn border text-white">
                                    <img src="~/images/callIcon.svg" />
                                    @request.PatientPhoneNumber
                                </button>
                                <p>(Patient)</p>
                            }
                            @if(request.SecondPhoneNumber != null)
                            {
                                <button class="btn border text-white">
                                    <img src="~/images/callIcon.svg" />
                                    @request.SecondPhoneNumber
                                </button>
                                <p>(Family)</p>
                            }
                        </td>
                    }
                    <td>@request.Address</td>
                    @if (status != 4 && status != 6)
                    {
                        @*<td>
                            <p>Case transferred to DR. AGOLA by admin</p>
                            
                        </td>*@
                        @if(request.Notes != null )
                        {
                            @if (request.Notes?.Count() != 0)
                            {
                                <td style="min-width: 10rem">
                                    @foreach (var note in request.Notes)
                                    {
                                        <p>@note</p>
                                    }
                                </td>
                            }
                            else
                            {
                                <td>-</td>
                            }
                        }
                        else
                        {
                            <td>-</td>
                        }
                    }
                    
                    @*<td>
                        @if (status != 1)
                        {
                            <button class="btn px-1 border text-white">
                                <img src="~/images/doctorIconWhite.svg" />
                                Patient
                            </button>
                        }
                        <button class="btn px-1 border text-white">
                            <img src="~/images/doctorIconWhite.svg" />
                            Provider
                        </button>
                    </td>*@
                    <td>
                        <div class="dropdown">
                            <button class="btn border text-white dropdown-toggle" type="button" data-bs-toggle="dropdown">
                                Actions
                            </button>
                            <ul class="dropdown-menu">
                                <li>
                                    <a class="dropdown-item" asp-action="ViewCase" asp-route-requestId="@request.RequestId">
                                        <i class="bi bi-journal-album pe-3"></i>View Case
                                    </a>
                                </li>
                                @if (status == 1)
                                {
                                    <li>
                                        <a class="dropdown-item assign-case-btn" style="cursor: pointer" data-request-id="@request.RequestId" data-is-transfer-request="false">
                                            <i class="bi bi-clipboard-check pe-3" ></i>Assign Case
                                        </a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item cancel-case-btn" style="cursor: pointer" data-request-id="@request.RequestId">
                                            <i class="bi bi-x-circle pe-3"></i>Cancel Case
                                        </a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item block-request-btn" style="cursor: pointer" data-request-id="@request.RequestId">
                                            <i class="bi bi-ban pe-3"></i>Block Patient
                                        </a>
                                    </li>
                                }
                                @if (status == 2)
                                {
                                    <li>
                                        <a class="dropdown-item send-agreement-btn" style="cursor: pointer" data-request-id="@request.RequestId">
                                            <i class="bi bi-file-text pe-3"></i>Agreement
                                        </a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item assign-case-btn" style="cursor: pointer" data-request-id="@request.RequestId" data-is-transfer-request="true">
                                            <i class="bi bi-file-medical pe-3"></i>Transfer
                                        </a>
                                    </li>
                                }
                                @if (status == 5)
                                {
                                    <li>
                                        <a class="dropdown-item" style="cursor: pointer" href="#">
                                            <i class="bi bi-x-circle pe-3"></i>Close Case
                                        </a>
                                    </li>
                                }
                                <li>
                                    <a class="dropdown-item" asp-action="ViewNotes" asp-route-requestId="@request.RequestId">
                                        <i class="bi bi-card-list pe-3"></i>View Notes
                                    </a>
                                </li>
                                @if (status != 1)
                                {
                                    <li>
                                        <a class="dropdown-item" asp-action="ViewUploads" asp-route-requestId="@request.RequestId">
                                            <i class="bi bi-file-earmark-arrow-up pe-3"></i>View Uploads
                                        </a>
                                    </li>
                                }
                                @if (status == 3 || status == 4 || status == 5)
                                {
                                    <li>
                                        <a class="dropdown-item" href="#">
                                            <i class="bi bi-card-list pe-3"></i>Doctor Notes
                                        </a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="#">
                                            <i class="bi bi-file-medical pe-3"></i>Encounter
                                        </a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" asp-action="Orders" asp-route-requestId="@request.RequestId">
                                            <i class="bi bi-list-check pe-3"></i>Orders

                                        </a>
                                    </li>
                                }
                                @if (status == 2 || status == 5)
                                {
                                    <li>
                                        <a class="dropdown-item clear-case-btn" style="cursor: pointer" data-request-id="@request.RequestId">
                                            <i class="bi bi-x-circle pe-3"></i>Clear Case
                                        </a>
                                    </li>
                                }
                            </ul>
                        </div>
                    </td>

                </tr>
            }
        </tbody>
    </table>
</div>


<div id="modal-container">
    
</div>



<div class="requests-mobile d-md-none">
    <div class="accordion" id="accordionPanelsStayOpenExample">
        @foreach(var request in Model)
        {
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button flex-column align-items-start" type="button" data-bs-toggle="collapse" data-bs-target="#item-@request.RequestId">
                        <div class="w-100 d-flex justify-content-between">
                            <p>@request.PatientFullName</p>
                            <p>
                                <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" style="width:16px; height:16px;">
                                    <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                                    <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                                    <g id="SVGRepo_iconCarrier">
                                        <path d="M12 22C17.5228 22 22 17.5228 22 12C22 6.47715 17.5228 2 12 2C6.47715 2 2 6.47715 2 12C2 17.5228 6.47715 22 12 22Z" fill="@(request.RequestType == 1 ? "#ffb3cc" : "")
                                @(request.RequestType == 2 ? "#00b33c" : "")
                                @(request.RequestType == 3 ? "#ff9933" : "")
                                @(request.RequestType == 4 ? "#66a3ff" : "")"></path>
                                    </g>
                                </svg>
                                @(request.RequestType == 1 ? "Business" : "")
                                @(request.RequestType == 2 ? "Patient" : "")
                                @(request.RequestType == 3 ? "Family" : "")
                                @(request.RequestType == 4 ? "Concierge" : "")
                            </p>
                        </div>
                        <div class="w-100 d-flex justify-content-between align-items-start">
                            <div class="w-50">
                                <p>@request.Address</p>
                            </div>
                            <a class="btn btn-outline-info rounded-pill">Map Location</a>
                        </div>
                        <div>
                            <img src="~/images/clockIcon.svg" />
                            <span>Request Date: </span>
                            <span>@request.RequestedDate</span>
                        </div>
                    </button>
                </h2>
                <div id="item-@request.RequestId" class="accordion-collapse collapse">
                    <div class="accordion-body">
                        @if (status != 6)
                        {
                            <div class="mb-2">
                                <img src="~/images/calendarIcon.svg" />
                                <span>Date of birth: </span>
                                <span>@request.DateOfBirth</span>
                            </div>
                        }
                        <div class="mb-2">
                            <img src="~/images/mailboxIconBlue.svg" />
                            <span>Email: </span>
                            <span>@request.PatientEmail</span>
                        </div>
                        @if (status != 5)
                        {
                            <div class="mb-2">
                                <div>
                                    <img src="~/images/callIconBlue.svg" />
                                    <span>Patient: </span>
                                    <span>@request.PatientPhoneNumber</span>
                                </div>
                                @if (request.SecondPhoneNumber != null && request.RequestType != 2)
                                {
                                    <div>
                                        <img src="~/images/callIconBlue.svg" />
                                        <span>
                                            @(request.RequestType == 1 ? "Business: " : "")
                                            @(request.RequestType == 3 ? "Family: " : "")
                                            @(request.RequestType == 4 ? "Concierge: " : "")
                                        </span>
                                        <span>@request.SecondPhoneNumber</span>
                                    </div>
                                }
                            </div>
                        }
                        @if (status == 1 || status == 2 || status == 3)
                        {
                            <div class="mb-3">
                                <img src="~/images/usernameIconBlue.svg" />
                                <span>Requestor: </span>
                                <span>@request.RequestorName</span>
                            </div>
                        }
                        
                        @if (status != 1 && status != 4 && status != 6)
                        {
                            <div class="mb-2 d-flex">

                                <div><img src="~/images/calendarIcon.svg"  class="me-2"> Transfer Notes: </div>
                                <div class="ms-2">
                                    @*<p class="m-0">Case transferred to DR. AGOLA by admin</p>
                                    <p>Case transferred to DR. AGOLA by admin</p>*@

                                    @if (request.Notes != null)
                                    {
                                        @foreach (var note in request.Notes)
                                        {
                                            <p>@note</p>
                                        }
                                    }
                                    else
                                    {
                                        <p>-</p>
                                    }
                                </div>
                            </div>
                        }
                        @if (status != 1)
                        {
                            <div class="mb-2">
                                <img src="~/images/calendarIcon.svg" />
                                <span>Date of Service: </span>
                                <span>June 23, 2023 4:58PM</span>
                            </div>
                        }
                        @if (status != 1)
                        {
                            <div class="mb-2">
                                <img src="~/images/doctorIcon.svg" />
                                <span>Physician: </span>
                                <span>
                                    @request.PhysicianName
                                </span>
                            </div>
                        }
                        @if (status == 5)
                        {
                            <div class="mb-2">
                                <img src="~/images/mailboxIconBlue.svg" />
                                <span>Region: </span>
                                <span>
                                    @(request.Region == 1 ? "Gujarat" : "")
                                    @(request.Region == 2 ? "Maharashtra" : "")
                                    @(request.Region == 3 ? "Madhya Pradesh" : "")
                                    @(request.Region == 4 ? "Uttar Pradesh" : "")
                                    @(request.Region == 5 ? "Rajasthan" : "")
                                </span>
                            </div>
                        }
                        <div class="row mb-3">
                            @if(status == 1)
                            {
                                <div class="col-6">
                                    <button class="btn btn-primary rounded-pill mb-2 w-75 assign-case-btn" data-request-id="@request.RequestId" data-is-transfer-request="false">Assign Case</button>
                                </div>
                                <div class="col-6">
                                    <button class="btn btn-danger rounded-pill mb-2 w-75 cancel-case-btn" data-request-id="@request.RequestId">
                                        Cancel Case
                                    </button>
                                </div>
                                <div class="col-6">
                                    <button class="btn btn-danger rounded-pill mb-2 w-75 block-request-btn" data-request-id="@request.RequestId">
                                        Block Patient
                                    </button>
                                </div>
                            }
                            @if(status == 2)
                            {
                                <div class="col-6">
                                    <button class="btn btn-warning rounded-pill mb-2 w-75 send-agreement-btn" data-request-id="@request.RequestId">
                                        Agreement
                                    </button>
                                </div>
                                <div class="col-6">
                                    <button class="btn btn-info rounded-pill mb-2 w-75 assign-case-btn" data-request-id="@request.RequestId" data-is-transfer-request="true">
                                        Transfer
                                    </button>
                                </div>
                            }
                            @if (status == 5)
                            {
                                <div class="col-6"><button class="btn btn-danger rounded-pill mb-2 w-75">Close Case</button></div>
                            }
                            <div class="col-6"><a asp-action="ViewNotes" asp-route-requestId="@request.RequestId" class="btn btn-success rounded-pill mb-2 w-75">View Notes</a></div>
                            @if (status != 1)
                            {
                                <div class="col-6"><a asp-action="ViewUploads" asp-route-requestId="@request.RequestId" class="btn btn-success rounded-pill mb-2 w-75">View Uploads</a></div>
                            }
                            @if (status == 3 || status == 4 || status == 5)
                            {
                                <div class="col-6"><button class="btn btn-secondary rounded-pill mb-2 w-75">Doctor Notes</button></div>
                                <div class="col-6">
                                    <a asp-action="Orders" asp-route-requestId="@request.RequestId" class="btn btn-warning rounded-pill mb-2 w-75">
                                        Orders
                                    </a>
                                </div>
                                <div class="col-6"><button class="btn btn-success rounded-pill mb-2 w-75">Encounter</button></div>
                            }
                            @*@if (status == 3 || status == 4)
                            {
                                
                            }*@
                            @if (status == 2 || status == 5)
                            {
                                <div class="col-6">
                                    <button class="btn btn-success rounded-pill mb-2 w-75 clear-case-btn" data-request-id="@request.RequestId">
                                        Clear Case
                                    </button>
                                </div>
                            }
                            <div class="col-6"><button class="btn btn-success rounded-pill mb-2 w-75">Email</button></div>
                            <div class="col-6"><a asp-action="ViewCase" asp-route-requestId="@request.RequestId" class="btn bg-white border border-3 rounded-pill mb-2 w-75">View Case</a></div>
                        </div>

                        @*<div class="d-flex justify-content-end align-items-center">
                            <span>Chat With: </span>
                            @if (status != 1)
                            {
                                <button class="btn btn-outline-info px-1 mx-1">
                                    <img src="~/images/usernameIconBlue.svg" />
                                    Patient
                                </button>
                            }
                            <button class="btn btn-outline-info px-1 mx-1">
                                <img src="~/images/doctorIcon.svg" />
                                Provider
                            </button>
                        </div>*@
                    </div>
                </div>
            </div>
        }
    </div>

</div>