
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

@model List<HalloDocServices.ViewModels.AdminViewModels.RequestRowViewModel>

@{
    var status = Model.FirstOrDefault()?.DashboardRequestStatus;
    if(status == null)
    {
        status = 1;
    }
}

<div>
    @Model.FirstOrDefault()?.RequestStatus
</div>

<div class="requests-desktop table-responsive-xxl d-none d-md-block">
    <table class="table">
        <thead>
            <tr>
                <th scope="col" style="min-width: 12rem">Name</th>
                @if(status != 6)
                {
                    <th scope="col">Date Of Birth</th>
                }
                @if (status == 1 || status == 2 || status == 3)
                {
                    <th scope="col">Requestor</th>
                }
                @if (status == 5)
                {
                    <th scope="col">Region</th>
                }
                @if(status != 1)
                {
                    <th scope="col">Physician Name</th>
                }
                @if (status != 1)
                {
                    <th scope="col">Date Of Service</th>
                }
                @if(status == 1)
                {
                    <th scope="col">Requested Date</th>
                }
                @if(status != 5)
                {
                    <th scope="col" style="min-width: 12rem">Phone</th>
                }
                <th scope="col">Address</th>
                @if(status != 4 && status != 6)
                {
                    <th scope="col">Notes</th>
                }
                @if(status == 1)
                {
                    <th scope="col" style="min-width: 7rem">Chat With</th>
                }
                else
                {
                    <th scope="col" style="min-width: 15rem">Chat With</th>
                }
                <th scope="col" style="min-width: 7rem">Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var request in Model)
            {
                <tr class="@(request.RequestType == 1?"bg-business":"") @(request.RequestType == 2?"bg-patient":"") @(request.RequestType == 3?"bg-family":"") @(request.RequestType == 4?"bg-concierge":"") text-white fw-bold">
                    <td>
                        <span>@request.PatientFullName</span>
                        <button class="btn p-1 text-white">
                            <img src="~/images/mailboxIcon.svg" />
                        </button>
                    </td>
                    @if (status != 6)
                    {
                        <td>@request.DateOfBirth</td>
                    }
                    @if (status == 1 || status == 2 || status == 3)
                    {
                        <td>@request.RequestorName</td>
                    }
                    @if (status == 5)
                    {
                        <td>
                            @(request.Region == 1 ? "Gujarat" :"")
                            @(request.Region == 2 ? "Maharashtra" : "")
                            @(request.Region == 3 ? "Madhya Pradesh" : "")
                            @(request.Region == 4 ? "Uttar Pradesh" : "")
                            @(request.Region == 5 ? "Rajasthan" : "")
                        </td>
                    }
                    @if (status != 1)
                    {
                        <td>@request.PhysicianName</td>
                    }
                    @if (status != 1)
                    {
                        <td>
                            <p>Nov 20, 2023</p>
                            <p>04:38AM</p>
                        </td>
                    }
                    @if (status == 1)
                    {
                        <td>@request.RequestedDate</td>
                    }
                    @if (status != 5)
                    {
                        <td>
                            
                            
                            @if (request.PatientPhoneNumber != null)
                            {
                                <button class="btn border text-white">
                                    <img src="~/images/callIcon.svg" />
                                    @request.PatientPhoneNumber
                                </button>
                                <p>(Patient)</p>
                            }
                            @if(request.SecondPhoneNumber != null)
                            {
                                <button class="btn border text-white">
                                    <img src="~/images/callIcon.svg" />
                                    @request.SecondPhoneNumber
                                </button>
                                <p>(Family)</p>
                            }
                        </td>
                    }
                    <td>@request.Address</td>
                    @if (status != 4 && status != 6)
                    {
                        @*<td>
                            <p>Case transferred to DR. AGOLA by admin</p>
                            
                        </td>*@
                        @if(request.Notes != null)
                        {
                            <td>
                                @foreach (var note in request.Notes)
                                {
                                    <p>@note</p>
                                }
                            </td>
                        }
                        else
                        {
                            <td>-</td>
                        }
                    }
                    
                    <td>
                        @if (status != 1)
                        {
                            <button class="btn px-1 border text-white">
                                <img src="~/images/doctorIconWhite.svg" />
                                Patient
                            </button>
                        }
                        <button class="btn px-1 border text-white">
                            <img src="~/images/doctorIconWhite.svg" />
                            Provider
                        </button>
                    </td>
                    <td>
                        <button class="btn border text-white">
                            Actions
                        </button>
                    </td>
                </tr>
            }
            @*<tr class="bg-patient text-white">
                <td>
                    <span>testing, test</span>
                    <button class="btn p-1 text-white">
                        <img src="~/images/mailboxIcon.svg" />
                    </button>
                </td>
                <td>June 16, 2023</td>
                <td>Patient test, test</td>
                <td>Nov 20, 2023 23h 01m</td>
                <td>
                    <button class="btn border text-white">
                        <img src="~/images/callIcon.svg" />
                        +91 95864 98683
                    </button>
                    <p>(Patient)</p>
                </td>
                <td>123, Maryland, Baltimore</td>
                <td>Case transferred to DR. AGOLA by admin</td>
                <td>
                    <button class="btn px-1 border text-white">
                        <img src="~/images/doctorIconWhite.svg" />
                        Provider
                    </button>
                </td>
                <td>
                    <button class="btn border text-white">
                        Actions
                    </button>
                </td>
            </tr>
            <tr class="bg-patient text-white">
                <td>
                    <span>testing, test</span>
                    <button class="btn p-1 text-white">
                        <img src="~/images/mailboxIcon.svg" />
                    </button>
                </td>
                <td>June 16, 2023</td>
                <td>Patient test, test</td>
                <td>Nov 20, 2023 23h 01m</td>
                <td>
                    <button class="btn border text-white">
                        <img src="~/images/callIcon.svg" />
                        +91 95864 98683
                    </button>
                    <p>(Patient)</p>
                </td>
                <td>123, Maryland, Baltimore</td>
                <td>Case transferred to DR. AGOLA by admin</td>
                <td>
                    <button class="btn px-1 border text-white">
                        <img src="~/images/doctorIconWhite.svg" />
                        Provider
                    </button>
                </td>
                <td>
                    <button class="btn border text-white">
                        Actions
                    </button>
                </td>
            </tr>
            <tr class="bg-family text-white">
                <td>
                    <span>testing, test</span>
                    <button class="btn p-1 text-white">
                        <img src="~/images/mailboxIcon.svg" />
                    </button>
                </td>
                <td>June 16, 2023</td>
                <td>Patient test, test</td>
                <td>Nov 20, 2023 23h 01m</td>
                <td>
                    <button class="btn border text-white">
                        <img src="~/images/callIcon.svg" />
                        +91 95864 98683
                    </button>
                    <p>(Patient)</p>
                    <button class="btn border text-white">
                        <img src="~/images/callIcon.svg" />
                        +91 96648 87547
                    </button>
                    <p>(Family)</p>
                </td>
                <td>
                    <p>123, Maryland, Baltimore</p>
                    <p>Room: 101</p>
                </td>
                <td>Case transferred to DR. AGOLA by admin</td>
                <td>
                    <button class="btn px-1 border text-white">
                        <img src="~/images/doctorIconWhite.svg" />
                        Provider
                    </button>
                </td>
                <td>
                    <button class="btn border text-white">
                        Actions
                    </button>
                </td>
            </tr>
            <tr class="bg-family text-white">
                <td>
                    <span>testing, test</span>
                    <button class="btn p-1 text-white">
                        <img src="~/images/mailboxIcon.svg" />
                    </button>
                </td>
                <td>June 16, 2023</td>
                <td>Patient test, test</td>
                <td>Nov 20, 2023 23h 01m</td>
                <td>
                    <button class="btn border text-white">
                        <img src="~/images/callIcon.svg" />
                        +91 95864 98683
                    </button>
                    <p>(Patient)</p>
                    <button class="btn border text-white">
                        <img src="~/images/callIcon.svg" />
                        +91 96648 87547
                    </button>
                    <p>(Family)</p>
                </td>
                <td>
                    <p>123, Maryland, Baltimore</p>
                    <p>Room: 101</p>
                </td>
                <td>Case transferred to DR. AGOLA by admin</td>
                <td>
                    <button class="btn px-1 border text-white">
                        <img src="~/images/doctorIconWhite.svg" />
                        Provider
                    </button>
                </td>
                <td>
                    <button class="btn border text-white">
                        Actions
                    </button>
                </td>
            </tr>*@
        </tbody>
    </table>
</div>

<div class="requests-mobile d-md-none">
    <div class="accordion" id="accordionPanelsStayOpenExample">
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button flex-column align-items-start" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne">
                    <div class="w-100 d-flex justify-content-between">
                        <p>Testing Test</p>
                        <p>
                            <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" style="width:16px; height:16px;"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M12 22C17.5228 22 22 17.5228 22 12C22 6.47715 17.5228 2 12 2C6.47715 2 2 6.47715 2 12C2 17.5228 6.47715 22 12 22Z" fill="#00b33c"></path> </g></svg>
                            Patient
                        </p>
                    </div>
                    <div class="w-100 d-flex justify-content-between align-items-start">
                        <div>
                            <p>Maryland Maryland,</p>
                            <p>Maryland 2121</p>
                        </div>
                        <a class="btn btn-outline-info rounded-pill">Map Location</a>
                    </div>
                    <div>
                        <img src="~/images/clockIcon.svg" />
                        <span>Request Date: </span>
                        <span>Dec 5, 2023 08:52:20 AM</span>

                    </div>
                </button>
            </h2>
            <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse">
                <div class="accordion-body">
                    <div class="mb-2">
                        <img src="~/images/calendarIcon.svg" />
                        <span>Date of birth: </span>
                        <span>June 28, 1999</span>
                    </div>
                    <div class="mb-2">
                        <img src="~/images/mailboxIconBlue.svg" />
                        <span>Email: </span>
                        <span>shrey.detroja14@gmail.com</span>
                    </div>
                    <div class="mb-2">
                        <img src="~/images/callIconBlue.svg" />
                        <span>Patient: </span>
                        <span>+91 95864 986863</span>
                    </div>
                    <div class="mb-3">
                        <img src="~/images/usernameIconBlue.svg" />
                        <span>Requestor: </span>
                        <span>Patient Testing test</span>
                    </div>
                    <div class="row mb-2">
                        <div class="col-6"><button class="btn btn-primary rounded-pill mb-2 w-75">Assign Case</button></div>
                        <div class="col-6"><button class="btn btn-danger rounded-pill mb-2 w-75">Cancel Case</button></div>
                        <div class="col-6"><button class="btn btn-success rounded-pill mb-2 w-75">View Notes</button></div>
                        <div class="col-6"><button class="btn btn-danger rounded-pill mb-2 w-75">Block Patient</button></div>
                        <div class="col-6"><button class="btn btn-success rounded-pill mb-2 w-75">Email</button></div>
                        <div class="col-6"><button class="btn bg-white border border-3 rounded-pill mb-2 w-75">View Case</button></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button flex-column align-items-start" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo">
                    <div class="w-100 d-flex justify-content-between">
                        <p>Testing Test</p>
                        <p>
                            <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" style="width:16px; height:16px;"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M12 22C17.5228 22 22 17.5228 22 12C22 6.47715 17.5228 2 12 2C6.47715 2 2 6.47715 2 12C2 17.5228 6.47715 22 12 22Z" fill="#00b33c"></path> </g></svg>
                            Patient
                        </p>
                    </div>
                    <div class="w-100 d-flex justify-content-between align-items-start">
                        <div>
                            <p>Maryland Maryland,</p>
                            <p>Maryland 2121</p>
                        </div>
                        <a class="btn btn-outline-info rounded-pill">Map Location</a>
                    </div>
                    <div>
                        <img src="~/images/clockIcon.svg" />
                        <span>Request Date: </span>
                        <span>Dec 5, 2023 08:52:20 AM</span>

                    </div>
                </button>
            </h2>
            <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse">
                <div class="accordion-body">
                    <div class="mb-2">
                        <img src="~/images/calendarIcon.svg" />
                        <span>Date of birth: </span>
                        <span>June 28, 1999</span>
                    </div>
                    <div class="mb-2">
                        <img src="~/images/mailboxIconBlue.svg" />
                        <span>Email: </span>
                        <span>shrey.detroja14@gmail.com</span>
                    </div>
                    <div class="mb-2">
                        <img src="~/images/callIconBlue.svg" />
                        <span>Patient: </span>
                        <span>+91 95864 986863</span>
                    </div>
                    <div class="mb-3">
                        <img src="~/images/usernameIconBlue.svg" />
                        <span>Requestor: </span>
                        <span>Patient Testing test</span>
                    </div>
                    <div class="row mb-2">
                        <div class="col-6"><button class="btn btn-primary rounded-pill mb-2 w-75">Assign Case</button></div>
                        <div class="col-6"><button class="btn btn-danger rounded-pill mb-2 w-75">Cancel Case</button></div>
                        <div class="col-6"><button class="btn btn-success rounded-pill mb-2 w-75">View Notes</button></div>
                        <div class="col-6"><button class="btn btn-danger rounded-pill mb-2 w-75">Block Patient</button></div>
                        <div class="col-6"><button class="btn btn-success rounded-pill mb-2 w-75">Email</button></div>
                        <div class="col-6"><button class="btn bg-white border border-3 rounded-pill mb-2 w-75">View Case</button></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>