@using HalloDocServices.Constants;
@{
    ViewData["Title"] = "Dashboard";
    Layout = "~/Views/Shared/_PatientLayout.cshtml";
}

@section AddStyles {

    <link href="@Url.Content("~/css/dashboard.css")" rel="stylesheet" type="text/css" />
    <style>
        .message div {
            max-width: 80%;
        }

        .sender-message {
            background-color: #cff;
            padding: 10px;
            border-radius: 10px;
            margin-bottom: 0 !important;
        }

        .receiver-message {
            background-color: #ffc;
            padding: 10px;
            border-radius: 10px;
            margin-bottom: 0 !important;
        }

        .message-date {
            font-size: 0.8em;
            color: #666;
        }
    </style>
}

@model List<HalloDocServices.ViewModels.DashboardRequestViewModel>


<div class="main-content container-fluid px-4 py-5">
    <h1 class="h2 mb-3">Medical History</h1>

    <!-- Modal -->
    <div class="modal fade" id="requesttype" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header bg-info text-white">
                    <h1 class="modal-title fs-5" id="requesttypeLabel">Create New Request</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Here, I want to create request for...</p>
                    <div class="d-flex justify-content-center">
                        <a asp-action="PatientRequest" class="btn btn-info mx-2 text-white">Me</a>
                        <a asp-action="FamilyRequest" class="btn btn-outline-info mx-2">Someone Else</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="requests-md container-fluid rounded-3 d-none d-md-flex flex-column bg-body custom-shadow">

        <!-- Modal toggler -->
        <div class=" py-3 d-flex justify-content-end">
            <button type="button" data-bs-toggle="modal" data-bs-target="#requesttype"
                class="btn btn-outline-info ">Create New Request</button>

        </div>

        <div class="req-header row p-3 d-flex align-items-center bg-body-secondary">
            <div class="col-3 fw-bold">Created Date</div>
            <div class="col-4 fw-bold">Current Status</div>
            <div class="col-3 fw-bold">Chat With</div>
            <div class="col-2 fw-bold">Document</div>
        </div>

        @{
            foreach (var request in Model)
            {
                <div class="row p-3 d-flex align-items-center">
                    <div class="col-3">@request.CreateDate</div>
                    <div class="col-4">@(((RequestStatus)(request.Status)).ToString())</div>
                    <div class="col-3">
                        <button class="btn btn-outline-info provider-chat-btn"
                            data-aspnetuserid="@request.PhysicianAspNetUserId">
                            <span class="material-symbols-outlined fs-6">
                                person_add
                            </span>
                            Provider
                        </button>
                        <button class="btn btn-outline-info admin-chat-btn" data-aspnetuserid="@request.AdminAspNetUserId">
                            <span class="material-symbols-outlined fs-6">
                                person_add
                            </span>
                            Admin
                        </button>
                    </div>
                    <div class="col-2">
                        @if (request.Count != 0)
                        {
                            <a asp-controller="Patient" asp-action="ViewDocuments" asp-route-requestid="@request.RequestId"
                                class="btn btn-outline-info">(@request.Count) documents</a>
                        }
                    </div>
                </div>
            }
        }
    </div>

    <div class="requests rounded-3 d-flex d-md-none flex-column bg-body shadow">
        <div class=" p-3 d-flex justify-content-end">
            <button href="#" type="button" data-bs-toggle="modal" data-bs-target="#requesttype"
                class="btn btn-outline-info p-2"><img src="~/images/plusIcon.svg" alt=""></button>
        </div>
        <div class="accordion accordion-flush bg-info" id="accordionFlushExample">
            @{
                foreach (var request in Model)
                {
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed d-flex" type="button" data-bs-toggle="collapse"
                                data-bs-target="#flush-collapse-@request.RequestId">
                                <img src="~/images/clockIcon.svg" alt="">
                                <span class="px-2 fw-bold">Created Date: </span>
                                <span>@request.CreateDate</span>
                            </button>
                        </h2>
                        <div id="flush-collapse-@request.RequestId" class="accordion-collapse collapse">
                            <div class="accordion-body">
                                <div class="mb-2">
                                    <img src="~/images/doctorIcon.svg" alt="">
                                    <span class="px-2">Provider: </span>

                                    @if (request.PhysicianName.Equals(" "))
                                    {
                                        <span>-</span>
                                    }
                                    else
                                    {
                                        <span>@request.PhysicianName</span>
                                    }
                                </div>
                                <div class="mb-2">
                                    <img src="~/images/checkCircleIcon.svg" alt="">
                                    <span class="px-2">Current Status: </span>
                                    <span> @request.Status </span>
                                </div>

                                @if (request.Count != 0)
                                {
                                    <div>
                                        <a asp-controller="Patient" asp-action="ViewDocuments"
                                            asp-route-requestid="@request.RequestId"
                                            class="btn btn-outline-info w-100">(@request.Count) documents</a>
                                    </div>
                                }

                                <div class="d-flex justify-content-end align-items-center">
                                    <span>Chat With: </span>
                                    <button class="btn btn-outline-info provider-chat-btn"
                                        data-aspnetuserid="@request.PhysicianAspNetUserId">
                                        <span class="material-symbols-outlined fs-6">
                                            person_add
                                        </span>
                                        Provider
                                    </button>
                                    <button class="btn btn-outline-info admin-chat-btn"
                                        data-aspnetuserid="@request.AdminAspNetUserId">
                                        <span class="material-symbols-outlined fs-6">
                                            person_add
                                        </span>
                                        Admin
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>

    </div>
    <div id="offcanvas-container">
    </div>
</div>

@section AddScript {
    <partial name="_ToastMessageScriptsPartial" />

    <script>
        $(".provider-chat-btn").click(function () {
            let aspnetuserId = $(this).attr("data-aspnetuserid");
            if (aspnetuserId == "") {
                Swal.fire({
                    text: "No physician assigned to this request",
                    icon: "error",
                });
                return;
            }
            console.log(`physician chat btn clicked: ${aspnetuserId}`);
            Chat(aspnetuserId);
        });

        $(".admin-chat-btn").click(function () {
            let aspnetuserId = $(this).attr("data-aspnetuserid");
            if (aspnetuserId == "") {
                Swal.fire({
                    text: "Admin unavailable.",
                    icon: "error",
                });
                return;
            }
            console.log(`admin chat btn clicked: ${aspnetuserId}`);
            Chat(aspnetuserId);
        });

        function Chat(aspnetuserId) {
            $.ajax({
                url: "/AdminDashboard/Chatbox",
                data: {
                    aspnetuserId: aspnetuserId,
                },
                type: "GET",
                success: function (data) {
                    //console.log(data);
                    $("#offcanvas-container").html(data);

                    const offcanvas = new bootstrap.Offcanvas("#chatbox-offcanvas");
                    offcanvas.show();
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.error("Error fetching data:", textStatus);
                    if (errorThrown) {
                        console.error("Specific error:", errorThrown);
                    }
                    console.error("HTTP status code:", jqXHR.status);

                    if (jqXHR.responseJSON.status == 414) {
                        window.location.href = "/Login";
                    }
                },
            });
        }
    </script>
}
