@{
    ViewData["Title"] = "ViewDocuments";
    Layout = "~/Views/Shared/_PatientLayout.cshtml";
}

@section AddStyles{

    <link href="@Url.Content("~/css/viewdocuments.css")" rel="stylesheet" type="text/css" />
}

@model HalloDocServices.ViewModels.ViewDocumentsViewModel

<div class="main-content py-5">
    <div class="container">
        <div class="heading d-flex justify-content-between align-items-center mb-3">
            <h1 class="h2 mb-3">Documents</h1>
            @*<a asp-area="" asp-controller="Patient" asp-action="Dashboard" class="btn back-btn">
                <img src="~/images/backIcon.svg" alt="">
                Back
            </a>*@
            <button class="btn btn-outline-info d-flex align-items-center" onclick="window.history.back()">
                <span class="material-symbols-outlined text-info fs-6">
                    arrow_back_ios
                </span>
                <span>Back</span>
            </button>
        </div>
        <div class="filesSection bg-body rounded-3 shadow">
            <div class="uploadSection p-3">
                <p class="m-0">Patient Name</p>
                <h2 class="h4 mb-3">Testing Test <span class="fw-light">(@Model.ConfirmationNumber)</span></h2>
                <p class="mb-4">
                    Click here for any files that you or the doctors or your subsequent requestors
                    have attached
                    for you to review.
                </p>

                <form asp-action="UploadRequestFile" asp-route-requestid="@Model.RequestId" class="mb-4" enctype="multipart/form-data">
                    <div class="input-group mb-3">
                        <input type="file" asp-for="MultipleFiles" multiple
                               class="form-control px-3 py-2 file-upload d-none" id="MultipleFiles">

                        <label class="input-group-text w-100 d-flex justify-content-between p-0 rounded-3 upload-label"
                               for="MultipleFiles">
                            <span class="px-3 py-2" id="filename">Select File</span>
                            <button type="submit" class="btn btn-info p-3 text-white fw-bold">
                                <img src="~/images/uploadIcon.svg" class="me-2" alt="">Upload
                            </button>
                        </label>
                    </div>
                </form>

                @if (ViewBag.Message != null)
                {
                    <span class="text-danger">@ViewBag.Message</span>
                }

                <div>
                    <div class="heading d-flex justify-content-between align-items-center">
                        <h4>
                            <input type="checkbox" name="" id="selectAllMobile" class="d-md-none" value="@Model.RequestId">
                            Documents
                        </h4>
                        <button class="btn btn-outline-info p-2 d-none d-md-inline ms-2 download-all-btn">
                            Download All
                        </button>
                        <button class="btn btn-outline-info p-2 d-md-none download-all-btn">
                            <i class="bi bi-cloud-arrow-down"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="requestfiles-md d-none d-md-block">
                <table class="table">
                    <thead>
                        <tr class="requestfilesheader">
                            <th scope="col" class="p-3">
                                <input type="checkbox" name="" id="selectAll">
                            </th>
                            <th scope="col" class="py-3"></th>
                            <th scope="col" class="py-3">Uploader</th>
                            <th scope="col" class="py-3">Upload Date</th>
                            <th scope="col" class="py-3">Action</th>
                        </tr>
                    </thead>
                    <tbody>

                        @if (Model.FileInfo != null)
                        {
                            @foreach (var item in Model.FileInfo)
                            {
                                <tr>
                                    <td class="p-3">
                                        <input type="checkbox" name="selectFile" id="" class="selectFile" value="@item.FileId">
                                    </td>
                                    <td class="py-3">@item.FileName</td>
                                    <td class="py-3">@item.Uploader</td>
                                    <td class="py-3">@item.UploadDate</td>
                                    <td class="py-3">
                                        <a asp-action="DownloadFile" asp-route-id="@item.FileId" class="btn btn-outline-info">
                                            <i class="bi bi-cloud-download"></i>
                                        </a>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>

            <div class="requestfiles d-md-none">
                <div class="accordion accordion-flush bg-info" id="accordionFlushExample">

                    @if (Model.FileInfo != null)
                    {
                        @foreach (var item in Model.FileInfo)
                        {
                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed d-flex" type="button"
                                            data-bs-toggle="collapse" data-bs-target="#flush-collapse-@item.FileId">

                                        <img src="~/images/clockIcon.svg" alt="" class="ps-3">
                                        <span class="px-2">@item.FileName</span>
                                    </button>
                                </h2>
                                <div id="flush-collapse-@item.FileId" class="accordion-collapse collapse">
                                    <div class="accordion-body">
                                        <div class="mb-2">
                                            <input type="checkbox" name="selectFile" id="" class="selectFileMobile" value="@item.FileId">
                                            <span>@item.FileName</span>
                                        </div>
                                        <div class="mb-2">
                                            <span>@item.Uploader</span>
                                        </div>
                                        <div class="mb-2">
                                            <span>@item.UploadDate</span>
                                        </div>
                                        <div>
                                            <a asp-action="DownloadFile" asp-route-id="@item.FileId" class="btn btn-outline-info">
                                                <i class="bi bi-cloud-download"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@section AddScript{
    <partial name="_ToastMessageScriptsPartial" />

    <script>
        const actualBtn = document.querySelector('#MultipleFiles');

        const fileChosen = document.querySelector('#filename');


        actualBtn.addEventListener('change', function () {
            fileChosen.textContent = '';
            for (var i = 0; i < this.files.length; i++) {
                fileChosen.textContent += this.files[i].name + ', ';
            }
            fileChosen.textContent = fileChosen.textContent.slice(0, fileChosen.textContent.length - 2);

        })
    </script>

    <script>
        // SELECT ALL CHECKBOX
        const selectAllCheckbox = document.querySelector('#selectAll');
        const selectAllCheckboxMobile = document.querySelector('#selectAllMobile');

        // ALL CHECKBOXES FOR FILES
        const checkBoxes = document.querySelectorAll('input[name="selectFile"].selectFile');
        const checkBoxesMobile = document.querySelectorAll('input[name="selectFile"].selectFileMobile');

        // GET SELECTED CHECKBOXES VALUES
        function GetSelectedCheckboxValues() {
            //SELECTED CHECKBOXES
            const selectedCheckboxes = document.querySelectorAll('input[name="selectFile"].selectFile:checked');
            const selectedCheckboxesMobile = document.querySelectorAll('input[name="selectFile"].selectFileMobile:checked');

            //SELECTED FILE IDS
            const selectedValues = [];
            console.log('width: ', window.innerWidth);
            if (window.innerWidth < 768) {
                for (const checkbox of selectedCheckboxesMobile) {
                    selectedValues.push(parseInt(checkbox.value));
                }
            }
            else {
                for (const checkbox of selectedCheckboxes) {
                    selectedValues.push(parseInt(checkbox.value));
                }
            }

            return selectedValues;
        }

        //SELECT ALL
        selectAllCheckbox.addEventListener('change', () => {
            for (const checkbox of checkBoxes) {
                checkbox.checked = selectAllCheckbox.checked;
            }
            console.log('select all')
        })

        //SELECT ALL MOBILE
        selectAllCheckboxMobile.addEventListener('change', () => {
            for (const checkbox of checkBoxesMobile) {
                checkbox.checked = selectAllCheckboxMobile.checked;
            }
            console.log('select all mobile')
        })

        //DOWNLOAD BUTTONS
        const downloadAllBtn = document.querySelectorAll('.download-all-btn');

        downloadAllBtn.forEach(item => {
            item.addEventListener('click', async () => {
                console.log('download btn clicked');

                const selectedValues = GetSelectedCheckboxValues();
                if (selectedValues.length === 0) {
                    console.log('No checkboxes are selected');
                    toastr.error("Please select files to download");
                    return;
                }

                // REQUEST ID
                const requestId = @Model.RequestId;
                console.log(requestId);

                console.log(JSON.stringify({ selectedValues, requestId }));

                try {

                    const response = await fetch('/Patient/DownloadMultipleFiles', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({ selectedValues, requestId })
                    });

                    if (response.ok) {
                        console.log(response);

                        //download file logic

                        const data = await response.blob();
                        console.log(data);

                        const a = document.createElement('a');
                        const url = window.URL.createObjectURL(data);
                        a.href = url;
                        a.download = `request-${requestId}.zip`;
                        document.body.append(a);
                        a.click();
                        a.remove();
                        window.URL.revokeObjectURL(url);

                        console.log('Files downloaded successfully');

                    } else {
                        console.error('Error downloading files:', await response.text());
                    }

                } catch (error) {
                    console.log('Error: ', error);
                }

            });
        });
    </script>
}

