@{
    ViewData["Title"] = "Patient Request";
    Layout = "~/Views/Shared/_RequestLayout.cshtml";
}

@model HalloDocServices.ViewModels.PatientRequestViewModel

@section AddStyles{
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/css/intlTelInput.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/intlTelInput.min.js"></script>
    <link href="@Url.Content("~/css/requestform.css")" rel="stylesheet" type="text/css" />
}

<div class="main p-4">
    <div class="back pb-4 d-flex justify-content-end">
        @*<a asp-area="" asp-controller="RequestForms" asp-action="SubmitRequest" class="btn back-btn">
            <img src="/images/backIcon.svg" alt="">
            Back
        </a>*@
        <button class="btn btn-outline-info d-flex align-items-center" onclick="window.history.back()">
            <span class="material-symbols-outlined text-info fs-6">
                arrow_back_ios
            </span>
            <span>Back</span>
        </button>
    </div>
    <form asp-action="PatientRequest" class="container bg-body p-4  request-form" enctype="multipart/form-data">
        <partial name="_PatientRequestFormPartial" model="@Model">
        @*<div class="info mb-4">
            <h2 class="mb-3">Patient Information</h2>
            <div class="row">
                <div class="col-12">
                    <div class="form-floating mb-3">
                        <textarea asp-for="Symptoms" class="form-control" placeholder="Enter Symptoms" id="Symptoms"
                                  style="height: 100px"></textarea>
                        <label asp-for="Symptoms">Enter Brief Details of Symptoms</label>
                        <span asp-validation-for="Symptoms"></span>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-floating mb-3">
                        <input type="text" asp-for="FirstName" class="form-control" id="FirstName"
                               placeholder="First Name">
                        <label asp-for="FirstName">First Name</label>
                        <span asp-validation-for="FirstName" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-floating mb-3">
                        <input type="text" asp-for="LastName" class="form-control" id="LastName"
                               placeholder="Last Name">
                        <label asp-for="LastName">Last Name</label>
                        <span asp-validation-for="LastName"></span>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-floating mb-3">
                        <input type="date" asp-for="DOB" class="form-control" id="DOB" placeholder="DOB">
                        <label asp-for="DOB">Date Of Birth</label>
                        <span asp-validation-for="DOB"></span>
                    </div>
                </div>
            </div>
        </div>

        <div class="contact-info mb-4">
            <h2 class="mb-3">Patient Contact Information</h2>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-floating mb-3">
                        <input type="text" asp-for="Email" class="form-control" id="Email"
                               placeholder="abc@xyz.pqr">
                        <label asp-for="Email">Email</label>
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-sm-6 pb-3">
                    <input type="tel" asp-for="PhoneNumber" class="form-control w-100" id="PhoneNumber" />
                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>

                </div>
                <div class="col-sm-6 d-none" id="passfield">
                    <div class="form-floating mb-3">
                        <input type="password" asp-for="Password" class="form-control" id="Password"
                               placeholder="Password">
                        <label asp-for="Password">Password</label>
                        <span class="material-symbols-outlined text-body icon-label" id="eye1">
                            visibility_off
                        </span>
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <span class="text-danger">@ViewBag.Msg</span>
                </div>

                <div class="col-sm-6 d-none" id="confirmpassfield">
                    <div class="form-floating mb-3">
                        <input type="password" asp-for="ConfirmPassword" class="form-control" id="ConfirmPassword"
                               placeholder="Confirm Password">
                        <label asp-for="ConfirmPassword">Confirm Password</label>
                        <span class="material-symbols-outlined text-body icon-label" id="eye2">
                            visibility_off
                        </span>
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>
                    <span class="text-danger">@ViewBag.Msg</span>
                </div>
            </div>
        </div>

        <div class="location-info mb-4">
            <h2 class="mb-3">Patient Location</h2>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-floating mb-3">
                        <input type="text" asp-for="Street" class="form-control" id="Street"
                               placeholder="Street">
                        <label asp-for="Street">Street</label>
                        <span asp-validation-for="Street"></span>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-floating mb-3">
                        <input type="text" asp-for="City" class="form-control" id="City"
                               placeholder="City">
                        <label asp-for="City">City</label>
                        <span asp-validation-for="City" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="mb-3">
                        <select asp-for="RegionId" id="region-list" class="form-select p-3" asp-items="@ViewBag.RegionList">
                            <option value="" selected>Select State</option>
                        </select>
                        <span asp-validation-for="RegionId" class="text-danger"></span>
                        <input type="text" asp-for="State" id="State" hidden />
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-floating mb-3">
                        <input type="text" asp-for="ZipCode" class="form-control" id="ZipCode"
                               placeholder="Zipcode">
                        <label asp-for="ZipCode">Zipcode</label>
                        <span asp-validation-for="ZipCode"></span>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-floating mb-3">
                        <input type="text" asp-for="Room" class="form-control" id="Room"
                               placeholder="Room">
                        <label asp-for="Room">Room # / Suite (Optional)</label>
                        <span asp-validation-for="Room"></span>
                    </div>
                </div>
            </div>
        </div>*@

        <div class="upload-docs mb-4">
            <h2 class="mb-3">(Optional) Upload Photo Or Document</h2>
            <div class="row">
                <div class="col-12">
                    <div class="input-group mb-3">
                        <input type="file" accept=".jpg, .jpeg, .png, .pdf, .txt" asp-for="MultipleFiles" multiple class="form-control px-3 py-2 file-upload" id="MultipleFiles">

                        <label class="input-group-text w-100 d-flex justify-content-between p-0 rounded-3 upload-label"
                               asp-for="MultipleFiles">
                            <span class="px-3 py-2" id="filename">Select File</span>
                            <div class="btn btn-info p-3 text-white fw-bold">
                                <img src="/images/uploadIcon.svg" class="me-2" alt="">Upload
                            </div>
                        </label>
                    </div>
                </div>
            </div>
        </div>

        <div class="submit mb-4 d-flex justify-content-end">
            <input type="submit" value="Submit" class="btn btn-info py-2 px-3 text-white">
            <input type="reset" value="Cancel" class="btn btn-outline-info py-2 px-3 ms-3">
        </div>

    </form>
</div>

@section AddScript{
    <partial name="_ToastMessageScriptsPartial" />

    
    <script>
        const emailInput = document.querySelector("#Email");

        emailInput.addEventListener('blur', async () => {
            const mailId = emailInput.value;
            await checkUser(mailId);
        })

        window.addEventListener('load', async () => {
            const mailId = emailInput.value;
            if (mailId) {
                await checkUser(mailId);
            }

        });

        async function checkUser(mailId) {


            const url = `http://localhost:5059/RequestForms/CheckUserAccount?email=${mailId}`;

            try {
                $('#loader').fadeIn();

                const response = await fetch(url);
                const data = await response.json();

                $('#loader').fadeOut();

                if (data.status == 'invalid') {
                    document.querySelector('#passfield').classList.remove("d-none");
                    document.querySelector('#confirmpassfield').classList.remove("d-none");
                    console.log('removed d-none');
                }
                else {
                    document.querySelector('#passfield').classList.add("d-none");
                    document.querySelector('#confirmpassfield').classList.add("d-none");
                    console.log('added d-none');
                }
            } catch (error) {
                console.log(error);
            }

        }
    </script>
    <script>
        const actualBtn = document.querySelector('#MultipleFiles');

        const fileChosen = document.querySelector('#filename');


        actualBtn.addEventListener('change', function () {
            fileChosen.textContent = '';
            for (var i = 0; i < this.files.length; i++) {
                fileChosen.textContent += this.files[i].name + ', ';
            }
            fileChosen.textContent = fileChosen.textContent.slice(0, fileChosen.textContent.length - 2);

        })
    </script>
    <script>
        const dateInput = document.querySelector('#DOB');
        dateInput.max = new Date().toISOString().split("T")[0];

        $('#region-list').change(function () {
            const state = $('#region-list').find('option:selected').text();
            $('#State').val(state);
        })

        $('#Email').change(function () {
            let value = $('#Email').val();
            let trimmedValue = value.trim();
            $('#Email').val(trimmedValue);
        });
    </script>

    @*EYE ICON FOR PASSWORD SHOW/HIDE*@
    <script>
        $('#eye1').click(function () {
            var passwordInput = $('#Password');
            var eyeIcon = $('#eye1');

            if (passwordInput.attr('type') === "password") {
                passwordInput.attr('type', 'text');
                eyeIcon.text('visibility');
            } else {
                passwordInput.attr('type', 'password');
                eyeIcon.text('visibility_off');
            }
        })

        $('#eye2').click(function () {
            var passwordInput2 = $('#ConfirmPassword');
            var eyeIcon2 = $('#eye2');

            if (passwordInput2.attr('type') === "password") {
                passwordInput2.attr('type', 'text');
                eyeIcon2.text('visibility');
            } else {
                passwordInput2.attr('type', 'password');
                eyeIcon2.text('visibility_off');
            }
        })
    </script>

    <script src="~/js/request.js"></script>
}
