@{
    ViewData["Title"] = "Create Provider";
    Layout = "~/Views/Shared/_AdminDashboardLayout.cshtml";
}

@using HalloDocServices.Constants

@section AddStyles {
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/css/intlTelInput.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/intlTelInput.min.js"></script>
    <link href="@Url.Content("~/css/requestform.css")" rel="stylesheet" type="text/css" />
    <style>


    </style>
}

@model HalloDocServices.ViewModels.AdminViewModels.EditProviderViewModel

<div class="main">

    <partial name="_NavbarLinks"></partial>

    <div class="container-xl p-4">
        <div class=" back p-0 pb-4 d-flex justify-content-between">
            <h2>Create Physician</h2>
            <a class="btn back-btn" onclick="window.history.back()">
                <img src="/images/backIcon.svg" alt="">
                Back
            </a>
        </div>

        <div class="shadow rounded-3">
            <form asp-action="CreateProvider" class="bg-white p-4 shadow-none " id="create-form" enctype="multipart/form-data">
                <input type="number" asp-for="Latitude" id="Latitude" hidden/>
                <input type="number" asp-for="Longitude" id="Longitude" hidden />

                <div class="info mb-4">
                    <h4 class="mb-3">Account Information</h4>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-floating mb-3">
                                <input type="text" asp-for="Username" class="form-control account-info" id="Username"
                                       placeholder="Username" readonly>
                                <label asp-for="Username">Username</label>
                                <span asp-validation-for="Username" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-floating mb-3">
                                <input type="password" asp-for="Password" class="form-control account-info" id="Password"
                                       placeholder="Password" >
                                <label asp-for="Password">Password</label>
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-floating mb-3">
                                <select asp-for="Status" id="status-list" class="form-select p-3 account-info" asp-items="Html.GetEnumSelectList<Status>()" >
                                    <option value="">Set a status</option>
                                </select>
                                <span asp-validation-for="Status" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class=" mb-3">
                                <select asp-for="RoleId" id="role-list" class="form-select p-3 account-info" asp-items="@Model.RoleList" >
                                </select>
                                <span asp-validation-for="RoleId" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="info mb-4">
                    <h4 class="mb-3">Physician Information</h4>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-floating mb-3">
                                <input type="text" asp-for="FirstName" class="form-control physician-info" id="FirstName"
                                       placeholder="FirstName" >
                                <label asp-for="FirstName">First Name</label>
                                <span asp-validation-for="FirstName" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-floating mb-3">
                                <input type="text" asp-for="LastName" class="form-control physician-info" id="LastName"
                                       placeholder="LastName" >
                                <label asp-for="LastName">Last Name</label>
                                <span asp-validation-for="LastName" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-floating mb-3">
                                <input type="email" asp-for="Email" class="form-control physician-info" id="Email" placeholder="Email" >
                                <label asp-for="Email">Email</label>
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-sm-6 pb-3">
                            <input type="tel" asp-for="PhoneNumber" class="form-control w-100 physician-info" id="PhoneNumber"  />
                            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-floating mb-3">
                                <input type="text" asp-for="MedicalLicense" class="form-control physician-info" id="MedicalLicense" placeholder="MedicalLicense" >
                                <label asp-for="MedicalLicense">Medical License</label>
                                <span asp-validation-for="MedicalLicense" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-floating mb-3">
                                <input type="text" asp-for="NPINumber" class="form-control physician-info" id="NPINumber" placeholder="NPINumber" >
                                <label asp-for="NPINumber">NPI Number</label>
                                <span asp-validation-for="NPINumber" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-floating mb-3">
                                <input type="email" asp-for="SyncEmail" class="form-control physician-info" id="SyncEmail" placeholder="SyncEmail" >
                                <label asp-for="SyncEmail">Sync Email</label>
                                <span asp-validation-for="SyncEmail" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="col-sm-6 pb-3">
                            @foreach (var state in Model.StateList)
                            {
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input physician-info-checkbox"
                                           type="checkbox"
                                           value="@state.Value"
                                           id="region-@state.Value"
                                           name="ProviderRegions"
                                           checked="@(Model.ProviderRegions.Contains(int.Parse(state.Value)) ? "true" : false)"
                                           >
                                    <label class="form-check-label" for="region-@state.Value">
                                        @state.Text
                                    </label>
                                </div>
                            }
                        </div>
                    </div>
                </div>

                <div class="info mb-4">
                    <h4 class="mb-3">Mailing & Billing Information</h4>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-floating mb-3">
                                <input type="text" asp-for="Address1" class="form-control billing-info" id="Address1"
                                       placeholder="Address1" >
                                <label asp-for="Address1">Address 1</label>
                                <span asp-validation-for="Address1" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-floating mb-3">
                                <input type="text" asp-for="Address2" class="form-control billing-info" id="Address2"
                                       placeholder="Address2" >
                                <label asp-for="Address2">Address 2</label>
                                <span asp-validation-for="Address2" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-floating mb-3">
                                <input type="text" asp-for="City" class="form-control billing-info" id="City" placeholder="City" >
                                <label asp-for="City">City</label>
                                <span asp-validation-for="City" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class=" mb-3">
                                <select asp-for="RegionId" id="region-list" class="form-select p-3" asp-items="@Model.StateList" >
                                </select>
                                <span asp-validation-for="RegionId" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-floating mb-3">
                                <input type="text" asp-for="ZipCode" class="form-control billing-info" id="ZipCode" placeholder="ZipCode" >
                                <label asp-for="ZipCode">ZipCode</label>
                                <span asp-validation-for="ZipCode" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-sm-6 pb-3">
                            <input type="tel" asp-for="SecondPhoneNumber" class="form-control w-100 billing-info" id="SecondPhoneNumber"  />
                            <span asp-validation-for="SecondPhoneNumber" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="info mb-4">
                    <h4 class="mb-3">Provider Profile</h4>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-floating mb-3">
                                <input type="text" asp-for="BusinessName" class="form-control profile-info" id="BusinessName"
                                       placeholder="BusinessName" >
                                <label asp-for="BusinessName">Business Name</label>
                                <span asp-validation-for="BusinessName" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-floating mb-3">
                                <input type="text" asp-for="BusinessWebsite" class="form-control profile-info" id="BusinessWebsite"
                                       placeholder="BusinessWebsite" >
                                <label asp-for="BusinessWebsite">Business Website</label>
                                <span asp-validation-for="BusinessWebsite" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="input-group mb-3">
                                <input type="file" accept=".jpg,.jpeg,.png" asp-for="Photo" class="form-control px-3 py-2 file-upload profile-info-upload" id="Photo">

                                <label class="input-group-text w-100 d-flex justify-content-between p-0 rounded-3 upload-label"
                                       asp-for="Photo">
                                    <span class="px-3 py-2" id="photoSpan">Select Profile Photo</span>
                                    <div class="btn btn-info p-3 text-white fw-bold rounded-2">
                                        <img src="/images/uploadIcon.svg" class="me-2" alt="">Upload
                                    </div>
                                </label>
                            </div>
                        </div>

                        <div class="col-12">
                            <div class="form-floating mb-3">
                                <textarea asp-for="AdminNotes" class="form-control profile-info" placeholder="Enter Symptoms" id="AdminNotes"
                                          style="height: 150px" ></textarea>
                                <label asp-for="AdminNotes">Admin Notes</label>
                                <span asp-validation-for="AdminNotes" class="text-danger"></span>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="info mb-4">
                    <h4 class="mb-3">Onboarding</h4>
                    <div class="row">
                        <div class="col-1 mb-3">
                            <input type="checkbox" asp-for="IsContractorDoc" class="form-check-input" id="ContractorDoc" checked="@Model.IsContractorDoc" />
                        </div>
                        <div class="col-11 col-sm-6 mb-3">
                            <label for="ContractorDoc" class="me-2">Independent Contractor Agreement</label>
                        </div>
                        <div class="col-sm-5 mb-3">
                            <input type="file" accept=".jpg" asp-for="ContractorDoc" class="onboarding-doc"  id="ContractorInput">
                            <label for="ContractorInput" class="btn btn-info text-white me-2">Upload</label>
                            @if (Model.IsContractorDoc)
                            {
                                <a target="_blank" href="~/Upload/Physician/@(Model.ProviderId)/1.jpg" class="btn btn-info text-white">View</a>
                            }
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-1 mb-3">
                            <input type="checkbox" asp-for="IsBackgroundDoc"  class="form-check-input" id="BackgroundDoc" checked="@Model.IsBackgroundDoc" />
                        </div>
                        <div class="col-11 col-sm-6 mb-3">
                            <label for="BackgroundDoc" class="me-2">Background Check</label>
                        </div>
                        <div class="col-sm-5 mb-3">
                            <input type="file" accept=".jpg" asp-for="BackgroundDoc" class="onboarding-doc"  id="BackgroundInput">
                            <label for="BackgroundInput" class="btn btn-info text-white me-2">Upload</label>
                            @if (Model.IsBackgroundDoc )
                            {
                                <a target="_blank" href="~/Upload/Physician/@(Model.ProviderId)/2.jpg" class="btn btn-info text-white">View</a>
                            }
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-1 mb-3">
                            <input type="checkbox" asp-for="IsHippaDoc" class="form-check-input me-2" id="HippaDoc" checked="@Model.IsHippaDoc" />
                        </div>
                        <div class="col-11 col-sm-6 mb-3">
                            <label for="HippaDoc" class="me-2">HIPAA Compliance</label>
                        </div>
                        <div class="col-sm-5 mb-3">
                            <input type="file" accept=".jpg" asp-for="HippaDoc" class="onboarding-doc"  id="HippaInput">
                            <label for="HippaInput" class="btn btn-info text-white me-2">Upload</label>
                            @if (Model.IsHippaDoc )
                            {
                                <a target="_blank" href="~/Upload/Physician/@(Model.ProviderId)/3.jpg" class="btn btn-info text-white">View</a>
                            }
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-1 mb-3">
                            <input type="checkbox" asp-for="IsNonDisclosureDoc" class="form-check-input me-2" id="NonDisclosureDoc" checked="@Model.IsNonDisclosureDoc" />
                        </div>
                        <div class="col-11 col-sm-6 mb-3">
                            <label for="NonDisclosureDoc" class="me-2">Non-Disclosure Agreement</label>
                        </div>
                        <div class="col-sm-5 mb-3">
                            <input type="file" accept=".jpg" asp-for="NonDisclosureDoc" class="onboarding-doc"  id="NonDisclosureInput">
                            <label for="NonDisclosureInput" class="btn btn-info text-white me-2">Upload</label>
                            @if (Model.IsNonDisclosureDoc )
                            {
                                <a target="_blank" href="~/Upload/Physician/@(Model.ProviderId)/4.jpg" class="btn btn-info text-white">View</a>
                            }
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-1 mb-3">
                            <input type="checkbox" asp-for="IsLicenseDoc" class="form-check-input me-2" id="LicenseDoc" checked="@Model.IsLicenseDoc" />
                        </div>
                        <div class="col-11 col-sm-6 mb-3">
                            <label for="LicenseDoc" class="me-2">License Document</label>
                        </div>
                        <div class="col-sm-5 mb-3">
                            <input type="file" accept=".jpg" asp-for="LicenseDoc" class="onboarding-doc"  id="LicenseInput">
                            <label for="LicenseInput" class="btn btn-info text-white me-2">Upload</label>
                            @if (Model.IsLicenseDoc )
                            {
                                <a target="_blank" href="~/Upload/Physician/@(Model.ProviderId)/5.jpg" class="btn btn-info text-white">View</a>
                            }
                        </div>
                    </div>
                </div>

                <div class="submit d-flex justify-content-end">
                    <button type="button" id="create-btn" class="btn btn-info py-2 px-3 ms-3 text-white">Create</button>
                    <input type="reset" value="Cancel" id="cancel-btn" class="btn cancelbtn btn-outline-info py-2 px-3 ms-3">
                </div>

            </form>

        </div>


    </div>

</div>



@section AddScript {

    <partial name="_ToastMessageScriptsPartial" />

   


    @*PHONE NUMBER INPUT SCRIPT*@

    <script>

        const phoneInputField = document.querySelector("#PhoneNumber");
        const phoneInput = window.intlTelInput(phoneInputField, {
            initialCountry: "in",
            preferredCountries: ["in"],
            onlyCountries: ["in", "us", "au", "de"],
            utilsScript:
                "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/utils.js",
        });

        const phoneInputField2 = document.querySelector("#SecondPhoneNumber");
        const phoneInput2 = window.intlTelInput(phoneInputField2, {
            initialCountry: "in",
            preferredCountries: ["in"],
            onlyCountries: ["in", "us", "au", "de"],
            utilsScript:
                "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/utils.js",
        });

    </script>

    @*USERNAME GENERATE SCRIPT*@

    <script>
        const userNameInput = document.querySelector('#Username');
        const firstNameInput = document.querySelector('#FirstName'); 
        const lastNameInput = document.querySelector('#LastName');

        function generateUsername() {
            const firstName = firstNameInput.value.trim().toUpperCase();
            const lastName = lastNameInput.value.trim().toUpperCase();

            let firstNamePart = firstName.substring(0, 3);
            let lastNamePart = lastName.substring(0, 3);
 
            if (firstName.length < 3) {
                firstNamePart = firstName;
            }
            if (lastName.length < 3) {
                lastNamePart = lastName;
            }

            const username = `MD.${firstNamePart}.${lastNamePart}`;
            userNameInput.value = username;
        }

        firstNameInput.addEventListener('keyup', generateUsername);
        lastNameInput.addEventListener('keyup', generateUsername);

    </script>
    


    @*UPLOAD LABEL SCRIPT*@

    <script>
        const photoInput = document.getElementById('Photo');
        const photoSpan = document.getElementById('photoSpan');

        photoInput.addEventListener('change', (event) => {
            const photoFile = event.target.files[0];
            if (photoFile) {
                photoSpan.textContent = photoFile.name;
            } else {
                photoSpan.textContent = "Select Profile Photo";
            }
        });

        
    </script>


    @*ONBOARDING DOCS INPUT SCRIPT*@

    <script>
        const docInputs = document.querySelectorAll('.onboarding-doc');

        docInputs.forEach(input => {
            input.addEventListener('change', () => {
                if (input.files.length !== 0) {
                    const checkbox = input.closest('.row').querySelector('input[type="checkbox"]');
                    checkbox.checked = true;
                }
            })
        })
    </script>


    @*GET LATITUDE LONGITUDE FROM ADDRESS*@
    @*SUBMIT FORM*@

    <script type="text/javascript" async src="https://maps.googleapis.com/maps/api/js?key=AIzaSyARrk6kY-nnnSpReeWotnQxCAo_MoI4qbU"></script>

    <script>
        $('#create-btn').click(async function(event){
            event.preventDefault();
            console.log('btn clicked');

            await setLatLong();

            $('#create-form').submit();
        });

        async function setLatLong(){
            var geocoder = new google.maps.Geocoder();
            const address = $('#Address1').val() + ' ' + $('#City').val() + ' ' + $('#region-list').find('option:selected').text() + ' ' + $('#ZipCode').val();
            console.log(address);
            geocoder.geocode({ address: address }, function (results, status) {
                if (status == "OK") {
                    var latitude = results[0].geometry.location.lat();
                    var longitude = results[0].geometry.location.lng();

                    $('#Latitude').val(latitude);
                    $('#Longitude').val(longitude);

                    console.log($('#Latitude').val());
                    console.log($('#Longitude').val());
                }
            });
        }
    </script>
}

